body {
    background-image: url(../images/purplePixelBackground.jpeg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: center center;
    text-align: center;
    margin: auto;
    padding: 0;
    background-size: cover;
    background-color: #cccccc;
  }
  
  #root {
    width: 90vw;
    height: 90vh;
  }
  
  /* .asteroid:hover{
      animation-duration: 3s;
      animation-name: slidFein;
      animation-iteration-count: infinite;
      animation-direction: alternate;
   }
  
  @keyframes slidein{
      from{
          margin-left: 50%;
          width: 50%;
      }
      to {
          margin-left: 0%;
          width: 100%;
      }
  }   */
  
  /* .asteroid{
      tra
  } */
  
  #guide {
    position: fixed;
    left: 40vw;
    bottom: 50vh;
    /* outline: red 5px solid; */
    text-align: center;
    border-radius: 25px;
  }
  
  #winCard {
    display: none;
    background-color: #3dbea8;
    max-width: 450px;
    position: fixed;
    left: 40vw;
    bottom: 18.7rem;
    border-radius: 25px;
    height: 5.7rem;
  }
  
  #loseCard {
    display: none;
    position: fixed;
    left: 40vw;
    bottom: 26vh;
    width: 28.2rem;
    
  }
  
  h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #dfadff;
    padding: 15px 25px;
    /* max-width: 450px; */
  
    border-radius: 20px;
  }
  
  h1 {
    position: fixed;
    width: 25rem;
    top: 14.4rem;
    justify-content: center;
    text-align: center;
  }
  
  #instructions {
    position: fixed;
    top: 26.4rem;
    font-size: 1.25em;
  }
  
  p {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: white;
    font-size: large;
    max-width: 450px;
    margin: 0px;
    background-color: #dfadff;
    text-align: center;
    border-radius: 20px;
    padding: 15px;
  }
  
  #winner {
    background-color: #3dbea8 !important;
  }
  
  #start {
    position: fixed;
    top: 42.3rem;
    width: 100rem;
    height: 6rem;
    font-size: 5em;
  }
  
  #start:hover {
    transition: 0.5s;
    background-color: #3dbea8;
  }
  
  h2 {
    background-color: #3dbea8 !important;
    border-radius: 20px !important;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 0.5rem;
  }
  
  .asteroid {
    max-width: 200px;
    max-height: 200px;
  }
  
  #leftBar {
    height: 1000vh;
    width: 5vw;
    background-color: #fffade;
    position: fixed;
    bottom: 0.2vh;
  }
  
  #bottomBar {
    height: 20vh;
    width: 100vw;
    background-color: #fffade;
    position: fixed;
    top: 92vh;
  }
  
  #rightBar {
    height: 1000vh;
    width: 5vw;
    background-color: #fffade;
    position: fixed;
    bottom: 0.2vh;
    left: 95vw;
  }
  
  #credits {
    background-color: #3dbea8;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 20rem;
    max-height: 10rem;
    color: white;
    position: fixed;
    top: 75.5rem;
    left: 6.89em;
    padding: 1rem 2rem;
    border-radius: 25px;
  }
  
  /* margin was making it difficult to align all elements */
  * {
    margin: 0;
  }
  